spring:
  application:
    name: manage-service
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
      
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.x.manage.service.entity
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto