server:
  port: 8090

spring:
  application:
    name: file-service
  servlet:
    multipart:
      max-file-size: 10GB # 单个文件最大大小（根据业务调整）
      max-request-size: 50GB # 单次请求最大大小
      resolve-lazily: true # 延迟解析文件，避免内存占用

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 2000ms

      lettuce:
        pool:
          max-active: 20  # 最大连接数
          max-idle: 10  # 最大空闲连接
          min-idle: 5 # 最小空闲连接
          max-wait: 2000ms
minio:
  endpoint: http://localhost:9000
  access-key: admin
  secret-key: admin123456
  bucket-name: test

logging:
  level:
    com.x.file.service: debug