server:
  port: 8083

spring:
  data:
    redis:
      port: 6379
      host: localhost

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/x?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password:



logging:
  level:
    com.x.device.access.service: debug

# Dubbo配置
dubbo:
  consumer:
    check: false # 禁用启动检测
    lazy: true   # 全局延迟注入，避免时机冲突
  application:
    name: ${spring.application.name}
    logger: slf4j
    qos-enable: false # 可选，默认true, QOS 服务治理功能
  registry:
    address: nacos://nacos:nacos@127.0.0.1:8848
    register-mode: instance
  protocols:
    tri-id:
      name: tri
      port: -1