server:
  port: 8010

spring:
  data:
    redis:
      port: 6379
      host: 10.33.93.12

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://10.33.93.12:13306/x?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: root



logging:
  level:
    com.x.device.access.service: debug

# Dubbo配置
dubbo:
  consumer:
    check: false # 禁用启动检测
    lazy: true   # 全局延迟注入，避免时机冲突
  application:
    name: ${spring.application.name}
    logger: slf4j
    qos-enable: false # 可选，默认true, QOS 服务治理功能
  registry:
    address: nacos://nacos:nacos@10.33.93.12:8848
    register-mode: instance
  protocols:
    tri-id:
      name: tri
      port: -1